@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Poppins&display=swap");

body::-webkit-scrollbar {
  display: none;
}

body,
html {
  height: 2400px;
  width: 2400px;
  overflow: hidden;
  background-color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  margin: 0; /* Agregado para quitar el margen por defecto */
  overflow: hidden; /* Evita que aparezca la barra de desplazamiento en el fondo */
  user-select: none !important;
}
#main-container {
  transition: transform 0.3s ease; /* Agregada transición */
}

#game-container {
  transform-origin: 0 0; /* Cambia el origen de la transformación */
}
.menu-container{
  position: absolute;
}

.bg-dark{
  opacity: 0.9;
}
.bg-container {
  position: relative;
  overflow: hidden;
  width: 2600px;
  background-color: #000000;
  height: 2600px;
  user-select: none;
}
.text-white{
  text-shadow: 0 0 3px black, 0 0 5px black; 
}
.bg-fondo {
  background-image: url("../../assets/img/glass.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: 7%;
  border-radius: 70%;
  transform-origin: 30% 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  text-shadow: 0 0 3px black, 0 0 5px black; 
  left: 0;
  width: 100%; /* Cambiado a 100% para que sea relativo al contenedor */
  height: 100%; /* Cambiado a 100% para que sea relativo al contenedor */
  z-index: 1;
}


.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 0;
  text-shadow: 0 0 3px black, 0 0 5px black; 
  z-index: 20;
}

.casa-square,
.cantera-square {
  width: 70px;
  height: 70px;
  border-radius: 80%;
  color: white;
  background-color: brown;
  display: none;
  z-index: 20;
}

.casa {
  width: 60px;
  height: 60px;
  color: white;
  z-index: 80;
  background-size: contain;
  background-repeat: no-repeat;
}

.c-1 {
  background-image: url("../../assets/img/c-1.png");
}
.d-1 {
  background-image: url("../../assets/img/c-1.png");
}
.c-2 {
  background-image: url("../../assets/img/c-2.png");
}
.c-3 {
  background-image: url("../../assets/img/c-3.png");
}
.c-4 {
  background-image: url("../../assets/img/c-4.png");
}
.c-5 {
  background-image: url("../../assets/img/c-5.png");
}
.c-6 {
  background-image: url("../../assets/img/c-6.png");
}

.mineral-centro {
  background-image: url("../../assets/img/ruins_shadow.png");
  background-size: cover;
  width: 100px; /* Cambiado a 150px para que sea relativo al contenedor */
  height: 100px; /* Cambiado a 150px para que sea relativo al contenedor */
  color: white;
  z-index: 10000;
}
.mineral-centro {
  transform-origin: 10% 10%;
  transition: transform 0.2s;
}

.danio-monstruo{
  font-size: 15px;
  font-weight: 400;
  color: rgb(236, 33, 33);
  z-index: 500000 !important;
}
.plus-one {
  font-size: 15px;
  font-weight: 400;
  color: white;
  z-index: 500000 !important;
}
.vidaCasa{
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: white;
  z-index: 40 !important;
}

.element {
  width: 20px;
  height: 20px;
  background-size: cover;
  position: absolute;
  z-index: 10;
}
.casa,
.mineral-centro,
.element {
  transition: transform 0.3s ease; /* Agregada transición */
}
.arbol {
  background-image: url("../../assets/img/Tree1.png");
  width: 80px;
  height: 95px;
  z-index: 20;
}
.arbol1 {
  background-image: url("../../assets/img/Yellow_ruins5.png");
  width: 30px;
  height: 30px;
  z-index: 3;
  
}
.arbol2 {
  background-image: url("../../assets/img/Bush_simple1_1.png");
  width: 30px;
  height: 30px;
  z-index: 18;
  
}
.pasto {
  background-image: url("../../assets/img/Bush_simple1_1.png");
  width: 25px;
  height: 25px;
}
.flower {
  background-image: url("../../assets/img/flower.png");
  width: 35px;
  height: 35px;
}
.roca-2 {
  background-image: url("../../assets/img/Yellow_ruins3.png");
  width: 40px;
  height: 40px;
}
.mineral {
  background-image: url("../../assets/img/Rock1_grass_shadow_dark3.png");
  width: 35px;
  height: 35px;
}
.roca {
  background-image: url("../../assets/img/Rock1_grass_shadow1.png");
  width: 35px;
  height: 38px;
}

#pastoRocaContainer {
  width: 2600px;
  height: 2600px;
  position: absolute;
  border-radius: 70%;
  overflow: hidden;
}

.cloud {
  position: absolute;
  z-index: 60 !important;
  background-size: contain;
  opacity: 0.6 !important;
  background-repeat: no-repeat;
  animation: moveCloud 100s linear infinite; /* Añadí la duración y 'infinite' para repeticiones infinitas */
}
.cloud-1 {
  width: 400px;
  height: 200px;
  background-image: url("../img/cloud_shape4_2.png");
}

.cloud-2 {
  width: 100;
  height: 50px;
  background-image: url("../img/cloud_shape4_1.png");
}

.cloud-3 {
  width: 200px;
  height: 150px;
  background-image: url("../img/cloud_shape4_5.png");
}
.cloud-4 {
  width: 200px;
  height: 120px;
  background-image: url("../img/cloud_shape4_3.png");
}
.cloud-5 {
  width: 80px;
  height: 80px;
  background-image: url("../img/cloud_shape4_4.png");
}

@keyframes moveCloud {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.soldado{
  background-image: url(../img/Man_walk.png);
  background-position: center;
  background-size: cover;
}
.vidaMonstruo{
  font-size: 12px;
  text-align: center;
}
.nombreMonstruo{
  font-size: 15px;
  text-align: center;
  margin-top: 52%;
}

.proyectil {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  z-index: 100; /* Asegura que la esfera esté por encima de otros elementos */
}
.d-1:hover::after {
  content: "";
  position: absolute;
  width: 400px; /* Diámetro del círculo */
  height: 400px; /* Diámetro del círculo */
  border-radius: 50%; /* Hace que el borde sea redondo */
  background-color: rgba(255, 0, 0, 0.2); /* Color del círculo */
  top: calc(-280%); /* Posición vertical del círculo */
  border: 1px red solid;
  border-color: red;
  left: calc(-260% ); /* Posición horizontal del círculo */
  pointer-events: none; /* Evita que el círculo interfiera con eventos de mouse */
  z-index: -1; /* Coloca el círculo detrás del contenido de la casa */
}
.casa .d-2:hover::after {
  content: "";
  position: absolute;
  width: 100px; /* Diámetro del círculo */
  height: 100px; /* Diámetro del círculo */
  border-radius: 50%; /* Hace que el borde sea redondo */
  background-color: rgba(255, 0, 0, 0.2); /* Color del círculo */
  top: calc(50% - 50px); /* Posición vertical del círculo */
  left: calc(50% - 50px); /* Posición horizontal del círculo */
  pointer-events: none; /* Evita que el círculo interfiera con eventos de mouse */
  z-index: -1; /* Coloca el círculo detrás del contenido de la casa */
}
